#selected-restaurant {
    margin-bottom: 11px;
    font-size: 18px;
    font-weight: 800;
}

.rest-name {
    font-weight: 400;
}

.fw-800 {
    font-weight: 800;
}

.fw-500 {
    font-weight: 500;
}

.link-like-span {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
}

#notice{
    padding-top: 340px;
}

#selected-curry {
    padding-top: 30px;
}

#ranking {
    font-size: 58px;
    font-weight: 500;
    text-align: left;
}

.left-fl{
    float: left;
}

.clear{
    clear: left;
    display: block;
}

.selected-curry-image {
    width: 20%;
    object-fit: cover;
}

.falling-curry{
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
}

.fallingLeaves{
    display: inline-block;
    margin-left: 5%;
    width: 35px;
    height: 40px;
    background: url(./currybowl.png);
    background-repeat: no-repeat;
    background-size: 30px;
    animation: fallingLeaves 5s 1 linear;
    -webkit-animation: fallingLeaves 5s 1 linear;
    -moz-animation: fallingLeaves 5s 1 linear;
}

.fallingLeaves:nth-child(5n+5) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}

.fallingLeaves:nth-child(3n+2) {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.fallingLeaves:nth-child(2n+5) {
    animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

@keyframes fallingLeaves {
    0% {
      opacity: 1;
  
      transform: translate(0, 0px) rotateZ(0deg);
    }
    75% {
      opacity: 1;
  
      transform: translate(50px, 600px) rotateZ(270deg); 
    }
    100% {
    display: none;
      opacity: 0;
      transform: translate(50px, 800px) rotateZ(360deg);
    }
  }