#selected-restaurant{
    margin-bottom: 13px;
    
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
}

.rest-name{
    font-weight: 400;
}

.fw-800{
    font-weight: 800;
}

.fw-500{
    font-weight: 500;
}