#selected-restaurant {
    margin-bottom: 11px;
    font-size: 18px;
    font-weight: 800;
}

.rest-name {
    font-weight: 400;
}

.fw-800 {
    font-weight: 800;
}

.fw-500 {
    font-weight: 500;
}

.link-like-span {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
}

#notice{
    padding-top: 340px;
}

#selected-curry {
    padding-top: 30px;
}

#ranking {
    font-size: 58px;
    font-weight: 500;
    text-align: left;
}

.left-fl{
    float: left;
}

.clear{
    clear: left;
    display: block;
}

.selected-curry-image {
    width: 20%;
    object-fit: cover;
}