/* Logo styling */
#overrides .navbar-brand {
    font-family: "Avenir";
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.205em;
    color: #000;
}

@media (min-width: 992px) {
    #overrides .navbar-brand {
        font-size: 40px;
    }
}

nav{
    z-index: 2;
}

/* Nav links */
.nav-link {
    font-size: 13px;
    font-style: normal;
    text-align: center;
    color: #000;
    text-decoration: none !important;
}

.nav-link.active {
    font-weight: 800;
}