/* Logo styling */
#overrides .navbar-brand {
    font-family: "Avenir";
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.205em;
    color: #000;
}

/* Nav links */
.nav-link {
    font-size: 13px;
    font-style: normal;
    text-align: center;
    color: #000;
    text-decoration: none !important;
}

.nav-link.active {
    font-weight: 800;
}